<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edicion</title>
</head>
<body>
  <h1>Esta a punto de editar una VIDA, sea responsable</h1>
  <form method="POST">
    {{forma.csrf_token}}
    <p>
      {{forma.nombre.label}} <br>
      {{forma.nombre(size=30)}}
    </p>
    <p>
      {{forma.apellido.label}} <br>
      {{forma.apellido(size=30)}}
    </p>
    <p>
      {{forma.email.label}} <br>
      {{forma.email(size=30)}}
    </p>
    <spa>{{forma.enviar()}}</spa>
  </form>
  <br>
  <a href="{{url_for('inicio')}}">Volver al inicio</a>
</body>
</html>