<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de personas</title>
</head>
<body>
    <h1>He aqui las personas registradas en esta app</h1>
    <h2>Total de personas: {{total_personas}}</h2>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                    <tr>
                        <td>{{persona.id}}</td>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.email}}</td>
                        <td><a href="ver/{{persona.id}}">Mas</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a href="/agregar">Agregar persona</a>
</body>
</html>